appdirs
asgiref
beautifulsoup4
bidict
bleach
certifi
cffi
charset-normalizer
configparser
contourpy
cryptography
cycler
Django
python-dotenv
mysqlclient
django-pandas
gunicorn
docutils
fonttools
frozendict
fxcmpy
getenv
html5lib
idna
importlib-metadata
jaraco.classes
jeepney
keyring
kiwisolver
lxml
markdown-it-py
matplot
matplotlib
mdurl
mip
more-itertools
mplfinance
multitasking
numpy
packaging
pandas
Pillow
pkginfo
pycparser
Pygments
pyloco
pyparsing
PySocks
python-dateutil
python-engineio
python-socketio
pytz
readme-renderer
requests
requests-toolbelt
rfc3986
rich
scipy
SecretStorage
SimpleWebSocketServer
six
soupsieve
sqlparse
#tvdatafeed @ git+https://github.com/StreamAlpha/tvdatafeed.git@a7034f04509b67224618917c29272796e4fff858
twine
typing
urllib3
ushlex
webencodings
websocket-client
yfinance
zipp
tvdatafeed @ git+https://github.com/lhermoso/tvdatafeed.git@a7034f04509b67224618917c29272796e4fff858

